@{

    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
 <html>
 <body>
     <header>
       
        <div class="header-slider">
             <a href="#" class="control_prev">&#8592;</a>
             <a href="#" class="control_next">&#8594;</a>
             <ul>
               <img src="~/resim1.png" class="header-img" alt="">
                <img src="~/resim2.jpeg" class="header-img" alt="">
                
              
             </ul>
             </div>
     </header>
      <script src="~/js/site.js" asp-append-version="true"></script>
 </body>
 </html>